/* VARIABLES */
@media screen and (max-width: 1450px) {
  #directory, #editionBack {
    left: 3%;
  }
  footer {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 1330px) {
  #editionBack {
    display: none;
  }
  #directory {
    right: 55px;
    left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    list-style: none;
    text-align: right;
  }
  #directory h3 {
    display: none;
  }
  #directory li {
    white-space: nowrap;
  }
  #directory li .dir-link {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    pointer-events: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 7px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #directory li:hover .dir-link {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    color: black;
    background-color: white;
  }
  #directory li:not(:nth-child(2)) {
    border: 0;
  }
  #directory .after {
    display: inline-block;
  }
}

@media screen and (max-width: 1190px) {
  header .logo {
    margin-left: 50px;
  }
  header .collapsible-menu ul {
    margin-left: 50px;
  }
  header .collapsible-menu ul .nav-link {
    margin: 0 20px;
  }
  header .search-bar {
    right: 70px;
  }
  footer .wave {
    -webkit-transform: translateY(-65%) scaleY(1);
            transform: translateY(-65%) scaleY(1);
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  header .logo {
    margin: 0 auto;
  }
  header #menu-icon + label {
    display: block;
    position: absolute;
    right: 50px;
    top: 55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 24px;
    color: black;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header input[type=checkbox]:checked ~ label,
  header input[type=checkbox] ~ label:hover {
    color: #f6d970 !important;
  }
  header #menu-icon:checked ~ .collapsible-menu {
    height: 180px;
  }
  header .collapsible-menu {
    display: block;
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
    height: 0;
    top: 60px;
    z-index: 10;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
  }
  header .collapsible-menu nav ul {
    display: block;
    margin-left: 0;
    padding: 10px 20px;
    top: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  header .collapsible-menu nav ul .nav-item {
    padding: 8px;
  }
  header .collapsible-menu nav ul .nav-item .nav-link {
    margin-right: 10px;
    margin-left: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header .collapsible-menu .search-bar {
    top: 170px;
    right: 40px;
    margin: 0;
  }
  #directory {
    display: none;
  }
  .teamcard-container .img-hover {
    width: 250px;
    height: 250px;
  }
  .teamcard-container .img-hover img {
    width: 250px;
    height: 250px;
  }
  footer {
    margin-top: 13rem;
  }
  footer .wave {
    -webkit-transform: translateY(-70%) scaleY(1.2);
            transform: translateY(-70%) scaleY(1.2);
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  #STEMlights {
    padding-bottom: 4em;
    padding-top: 7em;
  }
  #STEMlights .col-md-6 > * {
    margin: 0;
  }
  #STEMlights .float-right {
    margin-top: 60px;
  }
  .img-row-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-row-container .teamcard-container {
    display: block;
    width: 100%;
  }
  .img-row-container .teamcard-container .img-hover {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  footer {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 645px) {
  .newsletter .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter .card::after {
    width: 100%;
    margin: 0;
  }
  .newsletter .card img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
    padding: 1.5rem 1.5rem 0;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .card-deck .card {
    margin-bottom: 2rem;
  }
  footer .wave {
    display: none;
  }
  footer .wave:nth-child(2) {
    display: block;
    -webkit-transform: translateY(-69%) scaleY(1.6);
            transform: translateY(-69%) scaleY(1.6);
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  header {
    height: 85px;
  }
  header .logo, header .logo-link {
    margin-left: 30px;
    margin-right: auto;
  }
  .newsletter img {
    display: block;
    width: 100%;
  }
  #editionBack {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */