//Only media queries


/* VARIABLES */

$dark-blue: #233142;
$lavendar: #a6b1e1;
$yellow: #f6d970;
$light-grey : #f8f8f8;

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@mixin responsive-edition {
    width: 100%;
    max-width: 800px;
}




@media screen and (max-width: 991px) {
/* start of large tablet styles */
    /* header {
        overflow: visible;
        height: max-content;
        flex-direction: column;

        button {
            display: block;
            position: absolute;
            right: 100px;
            margin-top: 5px;
        }

        .navbar-collapse {
            position: relative;

            ul {
                display: flex;
                flex-direction: column;
            }
        }

        .logo {
            @include center;
            margin: 0;
        }
    } */

    #directory {
        display: none;
    }

    .img-row-container {
        display: flex;
        flex-direction: column;
    
        .teamcard-container {
            display: block;
            width: 100%;

            .img-hover {
                @include center();
            }
        }
    }
}




@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    .card-header {
        padding-bottom: 4em;
        padding-top: 7em;

        .col-md-6 > * {
            margin: 0;
        }

        .float-right {
            margin-top: 60px;
        }
    }
}




@media screen and (max-width: 645px) {
    .newsletter {
        .card {
            display: flex;
            flex-direction: column;

            img {
                @include center();
                float: none;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}



@media screen and (max-width: 576px) {
//edition cards on home page become blocks
    .card-deck {
        .card {
            margin-bottom: 2rem;
        }
    }

    footer {
        .wave {
            img:nth-child(1) {
                width: 120%;
                margin-left: -30px;
                transform: translateY(-80%);
            }
            img:nth-child(2) {
                display: none;
            }
        }
    }
}




@media screen and (max-width: 479px) {
/* start of phone styles */
    .newsletter {
        img {
            display: block;
            width: 100%;
        }
    }
}