/* VARIABLES */
@media screen and (max-width: 1190px) {
  header .logo {
    margin-left: 50px;
  }
  header .collapsible-menu ul {
    margin-left: 50px;
  }
  header .collapsible-menu ul .nav-link {
    margin: 0 20px;
  }
  header .search-bar {
    right: 70px;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  header .logo {
    margin: 0 auto;
  }
  header #menu-icon + label {
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 24px;
    color: black;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header input[type=checkbox]:checked ~ label,
  header input[type=checkbox] ~ label:hover {
    color: #f6d970 !important;
  }
  header #menu-icon:checked ~ .collapsible-menu {
    height: 29%;
  }
  header .collapsible-menu {
    display: block;
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
    height: 0;
    top: 70px;
    z-index: 10;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
  }
  header .collapsible-menu nav ul {
    display: block;
    margin-left: 0;
    padding: 10px 20px;
    top: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  header .collapsible-menu nav ul .nav-item {
    padding: 8px;
  }
  header .collapsible-menu nav ul .nav-item .nav-link {
    margin-right: 10px;
    margin-left: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header .collapsible-menu .search-bar {
    top: 205px;
    right: 40px;
    margin: 0;
  }
  #directory {
    display: none;
  }
  .img-row-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-row-container .teamcard-container {
    display: block;
    width: 100%;
  }
  .img-row-container .teamcard-container .img-hover {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .card-header {
    padding-bottom: 4em;
    padding-top: 7em;
  }
  .card-header .col-md-6 > * {
    margin: 0;
  }
  .card-header .float-right {
    margin-top: 60px;
  }
}

@media screen and (max-width: 645px) {
  .newsletter .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter .card img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .card-deck .card {
    margin-bottom: 2rem;
  }
  footer .wave img:nth-child(1) {
    width: 140%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .wave img:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .newsletter img {
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */