//Only media queries


/* VARIABLES */

$dark-blue: #233142;
$lavendar: #a6b1e1;
$yellow: #f6d970;
$light-grey : #f8f8f8;

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@mixin responsive-edition {
    width: 100%;
    max-width: 800px;
}


// Cards responsiveness
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1600px
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 1,
    md: 3,
    lg: 3,
    xl: 3
);

@each $name, $breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
        .card-deck .card {
            flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
        }
    }
}




@media screen and (max-width: 1450px) {
    //directory + editionBack button move over
    #directory, #editionBack {
        left: 3%;
    }

    footer {
        margin-top: 20rem;
    }
}




@media screen and (max-width: 1330px) {
    //edition back button disappears
    #editionBack {
        display: none;
    }

    //directory moves to right side of screen --> directory buttons
    #directory {
        right: 55px;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        list-style: none;
        text-align: right;

        h3 {
            display: none;
        }

        li {
            white-space: nowrap;

            .dir-link {
                transform: translateX(100%);
                pointer-events: none;
                color: rgba($color: black, $alpha: 0);
                background-color: rgba($color: white, $alpha: 0);
                padding: 7px;
                border-radius: 10px;
                transition: 0.3s;
            }

            &:hover {
                .dir-link {
                    transform: translateX(0%);
                    opacity: 1;
                    color: rgba($color: black, $alpha: 1);
                    background-color: rgba($color: white, $alpha: 1);
                }
            }

            &:not(:nth-child(2)) {
                border: 0; //gets rid of dividers
            }
        }

        .after {
            display: inline-block;
        }
    }
}




@media screen and (max-width: 1190px) {
// header condenses
    header {
        .logo {
            margin-left: 50px;
        }

        .collapsible-menu ul {
            margin-left: 50px;

            .nav-link {
                margin: 0 20px;
            }
        }

        .search-bar {
            right: 70px;
        }
    }

    footer {
        .wave {
            transform: translateY(-65%) scaleY(1);
        }
    }

    .banner{
        height:270px;
    }
}




@media screen and (max-width: 1260px) {
/* start of large tablet styles */
    header {
        .logo {
            margin: 0 auto 0 20px;
        }
        
        .block .stemchats {
            margin-left: 0;
        }

        #menu-icon + label { //header menu icon appears
            display: block;
            position: absolute;
            right: 40px;
            top: 55%;
            transform: translateY(-50%);
            font-size: 24px;
            color: black;
            cursor: pointer;
            transition: 0.2s;
        }

        input[type=checkbox]:checked ~ label,
        input[type=checkbox] ~ label:hover {
            color: $yellow !important;
        }

        $button-size : 1.6rem;
        $transition: .3s; // increase this to see the transformations in slow-motion

        #menu-icon:checked {
            ~ .collapsible-menu {
                height: 210px; // w/o search bar
                //height: 210px; //height of navbar when open (w/ search bar)
            }

            .lines {
                /*hide the middle line*/
                background: transparent;
            
                /*overlay the lines by setting both their top values to 0*/
                &:before, &:after {
                    transform-origin: 50% 50%;
                    top: 0;
                    width: $button-size;
                }
            
                // rotate the lines to form the x shape
                &:before{
                    transform: rotate3d(0,0,1,45deg);
                }
                &:after{
                    transform: rotate3d(0,0,1,-45deg);
                }
            }
        }

        .collapsible-menu {
            display: block;
            position: fixed;
            background-color: white;
            box-shadow: 0px 10px 16px -16px rgba(0,0,0,0.2);
            height: 0;
            top: 60px; //height of navbar
            z-index: 10;
            transition: 0.3s;
            overflow: hidden;

            nav {
                ul {
                    display: block;
                    margin-left: 0; //nullifies negative margin
                    padding: 0 20px;
                    top: 0;
                    left: 100%;
                    transform: translateX(-100%);

                    .nav-item {
                        padding: 8px;
                        .nav-link {
                            margin-right: 10px;
                            margin-left: auto;
                            width: max-content;
                        }
                    }
                }
            }

            .search-bar {
                top: 170px;
                right: 40px;
                margin: 0;
            }
        }
    }

    #directory {
        display: none;
    }

    .meet-the-team {
        .img-hover {
            width: 200px;
            height: 200px;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }

    footer {
        margin-top: 13rem;

        .wave {
            transform: translateY(-70%) scaleY(1.2);
        }
    }

    .banner{
        height:220px;
    }
}




@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    #STEMlights {
        padding-bottom: 4em;
        padding-top: 7em;

        .col-md-6 > * {
            margin: 0;
        }

        .float-right {
            margin-top: 60px;
        }
    }

    .meet-the-team {
        .img-hover {
            width: 300px;
            height: 300px;

            img {
                width: 300px;
                height: 300px;
            }
        }
    }

    .card-deck {
        .card {
            &::before {
                display: none;
            }
        }
    }

    footer {
        margin-top: 10rem;
    }

    .banner{
        height:180px;
    }
}




@media screen and (max-width: 645px) {
    .newsletter {
        .card {
            display: flex;
            flex-direction: column;

            &::after {
                width: 100%;
            }

            img {
                @include center();
                float: none;
                padding: 1.5rem 1.5rem 0;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .card-deck {
        .card {
            &::after {
                width: 100%;
            }
        }
    }

    .banner{
        height:150px;
    }
}



@media screen and (max-width: 576px) {
//edition cards on home page become blocks
    .card-deck {
        .card {
            margin-bottom: 2rem;
        }
    }

    footer {
        .wave {
            display: none;

            &:nth-child(2) {
                display: block;
                // width: 166%;
                transform: translateY(-69%) scaleY(1.6);
            }
        }
    }

    .banner{
        height:130px;
    }
}




@media screen and (max-width: 479px) {
/* start of phone styles */
    header {
        height: 65px;

        .logo, .logo-link {
            margin-left: 30px;
            margin-right: auto;
            margin-top: -20px;
        }

        .block .stemchats {
            position: absolute;
            margin-left: 40px;
            bottom: 5px;
        }
    }

    .newsletter {
        img {
            display: block;
            width: 100%;
        }
    }

    #editionBack
    {
        display: none
    }

    .banner{
        background-image: url("/images/search-bannermobile.png");
        height: 240px;
        background-position: 50% 50%;
    }

}
