/* VARIABLES */
/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

* a {
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

* a:hover {
  text-decoration: none;
  color: black;
}

* .btn, * button {
  background-color: #233142;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  background: linear-gradient(to right, #f6d970 50%, #233142 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease;
  color: black;
  outline: none;
}

* .btn:hover, * .btn:hover a, * button:hover, * button:hover a {
  background-position: right bottom;
  color: white;
}

* p b {
  color: #a6b1e1;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 150px auto 100px;
}

.main p {
  font-family: 'Josefin Sans', sans-serif !important;
}

.home #home-nav,
.search #search-nav,
.about-us #about-nav,
.news-archive #news-archive-nav {
  border-bottom: 2px solid #f6d970;
}

/* EDITIONS */
#directory {
  position: fixed;
  width: max-content;
  top: 180px;
  left: 6%;
  list-style-position: inside;
  animation: 1.5s ease-out 0s 1 fadeIn;
  z-index: 5;
}

#directory h3 {
  font-weight: bold;
  letter-spacing: 5px;
}

#directory li {
  padding: 10px 0;
  transition: 0.2s;
  font-size: 1.1em;
}

#directory li:not(:nth-child(2)) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#directory li a {
  margin-left: 7px;
}

#directory li:hover a {
  color: #f6d970;
  margin-left: 15px;
}

#directory .after {
  position: fixed;
  display: none;
  width: 15px;
  height: 15px;
  border: 1px solid #f6d970;
  border-radius: 50%;
  background-color: white;
  margin-top: 5px;
  transition: 0.3s;
  z-index: 10;
}

#directory .after:hover {
  background-color: #f6d970;
}

#editionBack {
  position: fixed;
  width: max-content;
  top: 110px;
  left: 6%;
  animation: 1.5s ease-out 0s 1 fadeIn;
}

#edition {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
  min-height: 100vh !important;
  margin-top: 125px !important;
  margin-bottom: 110px !important;
  font-size: 1.1em;
  /* Then style the iframe to fit in the container div with full height and width */
}

#edition div[style] {
  line-height: 1.7 !important;
}

#edition div[style] span[style] {
  line-height: 1.7 !important;
  font-size: 1rem !important;
}

#edition div[style] p[style] {
  line-height: 1.7 !important;
  font-size: 1rem !important;
}

#edition div[style] h2[style] {
  line-height: 1.7 !important;
  font-size: 1rem !important;
}

#edition div[style] .btn {
  padding: 0 !important;
}

#edition a {
  color: #a6b1e1;
  text-decoration: underline;
  width: max-content;
}

#edition a:hover {
  color: #f6d970;
}

#edition .yt-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#edition .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 1em 0em;
}

#edition .disabled {
  text-decoration: none;
  pointer-events: none;
}

#edition h4 {
  margin: 1.25rem 30px;
}

#edition p {
  text-align: left;
  margin-bottom: 0;
}

#edition img {
  max-width: 100%;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

#edition .section-header-img, #edition .edition-header-img {
  width: 100%;
  max-width: 800px;
  margin-top: 3rem !important;
  padding: 0 !important;
}

#edition .section-header-img:first-child, #edition .edition-header-img:first-child {
  margin-top: 0;
}

#edition .section-header-img:target, #edition .edition-header-img:target {
  scroll-margin-top: 3.5rem;
}

#edition button {
  margin-bottom: 30px;
}

/* REUSABLE */
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.grey-bg {
  background-color: #f8f8f8;
}

span.title {
  font-weight: bold;
}

span.title::before, span.title::after {
  content: ' - ';
}

/* HEADER */
.stemchats {
  color: #000000;
  font-size: 14px;
  line-height: 1em;
  margin: 25px 0 0 -10px;
}

.stemchats .stemchats-link {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px dashed #ccc;
  transition: 0.2s;
}

.stemchats .stemchats-link:hover {
  text-decoration: none;
  color: #ff5959;
  border-bottom: 1px dashed #ff5959;
}

.lines-button {
  display: block;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  margin-left: 0;
}

.lines-button .lines {
  margin-left: -50%;
}

.lines-button .lines:before {
  top: 0.53333rem;
}

.lines-button .lines:after {
  top: -0.53333rem;
}

.lines {
  display: inline-block;
  width: 1.6rem;
  height: 2px;
  background: #A2A2A2;
  border-radius: 0.11429rem;
  transition: 0.3s;
  position: relative;
  top: -5px;
  right: -15px;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}

.lines:before, .lines:after {
  display: inline-block;
  width: 1.6rem;
  height: 2px;
  background: #A2A2A2;
  border-radius: 0.11429rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.11429rem center;
}

.lines:before {
  top: 0.4rem;
}

.lines:after {
  top: -0.4rem;
}

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}

.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 1.6rem;
}

.lines-button.x.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  z-index: 1000;
  transition: top 0.3s;
  /* */
}

header #menu-icon, header #menu-icon ~ label, header input[type=checkbox] {
  display: none;
  z-index: 5;
}

header .block {
  display: flex;
}

header .block .stemchats {
  margin-left: 35px;
  margin-top: 23px;
  margin-bottom: 0;
  transition: opacity 0.3s;
}

header .logo {
  width: max-content;
  margin-left: 60px;
  position: relative;
  padding: 10px 10px 5px;
  border-radius: 5px;
  transition: 0.4s;
}

header .logo .logotxt-stem {
  color: #f6d970;
  transition: 0.4s;
}

header .logo .logotxt-lights {
  color: #233142;
  transition: 0.4s;
}

header .logo h1 {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: bold;
}

header .logo .logo-text::before, header .logo .logo-text::after {
  content: "help";
  position: absolute;
  background-image: url("/images/STEMlights_LogoTransparent.png");
  background-size: 25px;
  background-repeat: no-repeat;
  opacity: 0;
  color: transparent;
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

header .logo .logo-text::before {
  left: -30px;
}

header .logo .logo-text::after {
  right: -35px;
}

header .logo:hover {
  background: #233142;
  text-decoration: none;
}

header .logo:hover .logotxt-lights {
  color: white;
}

header .logo:hover .logo-text::before, header .logo:hover .logo-text::after {
  opacity: 1;
}

header .logo-link {
  width: max-content;
  margin-left: 60px;
  position: relative;
  top: -4px;
  padding-left: 15px;
}

header a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

header .collapsible-menu {
  position: fixed;
  display: flex;
  width: 100%;
  top: 30px;
  transition: 0.3s;
}

header .collapsible-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

header .collapsible-menu ul .nav-link {
  margin: 0 30px;
  padding: 0;
  font-size: 18px;
  border-bottom: 2px solid rgba(246, 217, 112, 0);
  transition: 0.3s;
  line-height: initial;
  white-space: nowrap;
}

header .collapsible-menu ul .nav-link:hover {
  border-bottom: 2px solid #f6d970;
}

.search-bar {
  position: absolute;
  transform: translate(50%, -6.75rem);
  right: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #233142;
  border-radius: 20px;
  background: white;
  padding: 5px;
  transition: width 0.5s;
  overflow: hidden;
}

.search-bar .search-icon {
  color: #233142;
  position: absolute;
  top: -1px;
  right: 1px;
  cursor: pointer;
  float: right;
  color: #233142;
  transition: color 0.2s;
  padding: 10px;
}

.search-bar .search-icon:hover {
  color: #f6d970;
}

.search-bar .search-input {
  width: 250px;
  height: 30px;
  margin: 0 0 0 10px;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-bar .search-submit {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  border: none;
  outline: none;
  background: transparent;
}

.search-bar .search-input::-webkit-search-cancel-button {
  display: none;
}

.search-bar.active {
  width: 600px;
}

.search-bar.active .search-input {
  opacity: 1;
  pointer-events: initial;
}

.search-bar.active .search-icon {
  color: #f6d970;
}

@media (max-device-width: 480px) {
  .search-bar.active {
    width: 270px;
  }
}

@media (max-device-width: 540px) {
  .search-bar.active {
    width: 270px;
  }
}

/* Home page */
body {
  overflow-x: hidden;
}

#STEMlights {
  min-height: 100vh;
  padding: .75rem 1.25rem;
  width: 100%;
  background-color: #233142;
  border: none;
  display: flex;
  align-items: center;
}

#recent {
  margin-top: 20px;
}

#recent .header-title {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: #233142;
  margin: 50px 0 30px;
}

.card-title1 {
  text-align: left;
  font-family: 'Josefin Sans';
  font-weight: 800;
  font-size: 40px;
  padding: 0em 0em 0.3em 0em;
  margin: 0em 1em 0em 0.9em;
  color: white;
  width: 40%;
}

.card-text1 {
  text-align: left;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 18px;
  padding: 0em 0em 0.5em 0em;
  margin: 0em 1em 0em 2em;
  color: white;
  width: 100%;
}

.btn1 {
  background-color: #f6d970;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0.5em 1em 0em 2em;
}

.btn1:hover {
  background-color: #f6d970;
}

.card-text {
  color: black;
  font-weight: 5px;
}

.card-deck {
  margin: 0 1.5rem;
}

.card-deck .card {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.card-deck .card::after {
  content: '';
  position: absolute;
  width: 256px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.125);
  transition: 0.4s;
}

.card-deck .card:hover::after {
  width: 100%;
  background-color: black;
}

.card-deck .card img {
  padding: 2rem;
  height: 300px;
  object-fit: contain;
}

.card-deck .card:not(:first-of-type)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 200px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.125);
  transition: 0.4s;
}

.card-deck .card-title {
  font-weight: bold;
}

.card-deck .card-text {
  color: black;
}

.card-deck .card-body {
  padding: 1.5rem 1.5rem 2rem;
}

.btn-light {
  background-color: #233142;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 30px auto 0;
}

.text-center {
  width: 100%;
  background-color: #233142;
  border: none;
  border-radius: 0;
}

.card-body2 {
  background-color: #a6b1e1;
  padding: 3em 0 7em;
}

.card-deck1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-deck1 .card-title {
  color: black;
}

.card-deck1 .card1 {
  background-color: #f8f8f8;
  color: black;
  padding: 25px 10px 25px 10px;
  border-radius: 12px;
  float: left;
  margin: 30px 25px 25px 25px;
}

/* NEWSLETTER MENU */
.banner {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  margin-bottom: -4rem;
  background-image: url("/images/search-banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #606974;
  background-position: 50% 100%;
  visibility: visible;
}

.newsletter {
  padding: 0 2rem;
  margin: 150px 50px 100px 50px;
}

.newsletter h3, .newsletter h5 {
  text-align: left;
  font-weight: bold;
}

.newsletter .card {
  width: 100%;
  background-color: white;
  position: relative;
  margin-top: 10px;
  border-radius: 0;
  border: none;
}

.newsletter .card::after {
  content: '';
  position: absolute;
  width: 256px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.125);
  transition: 0.4s;
}

.newsletter .card:hover::after {
  width: 100%;
  background-color: black;
}

.newsletter .card .card-body p {
  color: black;
  height: max-content;
}

.newsletter .card .img {
  top: 0;
  float: right;
  max-width: 25%;
  max-height: 150px;
  margin: 0 0 2rem 1.25rem;
}

.all-editions {
  margin-left: 35px;
  margin-right: 35px;
}

.archive-col {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ABOUT US */
.about-us .main {
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.1em;
  padding: 1rem 1.5rem 3rem;
}

.meet-the-team img {
  max-height: 300px;
  max-width: 100%;
}

.meet-the-team .img-hover {
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 50px auto 20px;
  overflow: hidden;
  animation: 0.7s ease-out 0s 1 slideUp;
  transition: 0.35s;
}

.meet-the-team .img-hover:hover {
  transform: translateY(-10%);
}

.meet-the-team .img-hover:hover ~ .teamcard-desc {
  transform: scale(1.2) translateY(-10%);
}

.meet-the-team img:hover ~ .socials-popup, .meet-the-team .socials-popup:hover {
  transform: translateY(-71%);
}

.meet-the-team .socials-popup {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: white;
  transition: 0.35s;
  text-align: center;
  padding-top: 15px;
}

.meet-the-team .socials-popup h1 {
  font-size: 50px;
}

.meet-the-team .socials-popup i {
  transition: 0.2s;
  opacity: 0.75;
}

.meet-the-team .socials-popup i:hover {
  color: #f6d970;
  opacity: 1;
}

.meet-the-team .teamcard-desc {
  text-align: center;
  animation: 1.2s ease-out 0s 1 fadeIn;
  transition: 0.35s;
}

.meet-the-team .teamcard-desc .teamcard-name {
  margin-bottom: 5px;
}

.meet-the-team .teamcard-desc .teamcard-position {
  color: grey;
  margin-bottom: 0;
}

/* FOOTER */
footer {
  /* border-top: 20px solid white;   /* REMOVE WHEN FOOTER + PODCAST =/= SAME COLOR */
  padding-bottom: 4rem;
  margin-top: 25rem;
  background-color: #233142;
  overflow-x: hidden;
}

footer .wave {
  width: 100%;
  position: absolute;
  transform: translateY(-60%) scaleY(0.9);
  left: 0;
}

footer .wave:nth-child(2) {
  display: none;
}

footer .row {
  margin: 0;
}

footer .shift-y {
  margin-bottom: -30px;
}

footer .socialmedia-links {
  padding-top: 40px;
}

footer .social-icons {
  margin: 20px auto 40px;
  font-size: 24px;
  width: max-content;
}

footer .social-icons:hover i {
  opacity: 0.5;
}

footer .social-icons i {
  margin: 0 10px;
  color: white;
  transition: 0.2s;
}

footer .social-icons i:hover {
  transform: translateY(-20%);
  opacity: 1;
}

footer .copy {
  font-size: 0.5px;
  padding-bottom: 0px;
  z-index: 1;
}

/* ANIMATIONS (GENERALLY FOR ONLOAD) */
@keyframes slideUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social .fbtn {
  width: 50px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 18px;
}

.social .fa {
  padding: 15px 0px;
}

.facebook {
  background-color: #3b5998;
}

.gplus {
  background-color: #dd4b39;
}

.twitter {
  background-color: #55acee;
}

.stumbleupon {
  background-color: #eb4924;
}

.pinterest {
  background-color: #cc2127;
}

.linkedin {
  background-color: #0077b5;
}

.buffer {
  background-color: #323b43;
}

.share-button.sharer {
  display: block;
  margin-top: 10px;
}

.share-button.sharer .social {
  margin-left: -0px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
}

.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}

.share-button.sharer .social.active.top {
  transform: scale(1) translateY(-10px);
}

.share-button.sharer .social.top {
  margin-top: 20px;
  transform-origin: 0 0 0;
}

.share-button.sharer .social .fbtn {
  z-index: 10;
}

.share-button.sharer .social .fbtn:hover {
  z-index: 100000 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pagination {
  padding: 30px 10px 0px 10px;
}

.pagination .page-link {
  color: #233142;
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #233142;
  border-color: #233142;
}

.pagination .spacer {
  pointer-events: none;
}
