 h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #181174;
  text-transform: uppercase;
  margin-bottom: 50px;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}


/* FOOTER */
footer {
  background-color: #444;
}

.copy {
  position: center;
  font-size:10px;
  padding-left:670px;
}

.logo {
  padding-top:100px;
}
