/* VARIABLES */

$dark-blue: #233142;
$lavendar: #a6b1e1;
$yellow: #f6d970;
$light-grey : #f8f8f8;

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@mixin responsive-edition {
    width: 100%;
    max-width: 800px;
}

@mixin hover-line {
    &::after { //, &:nth-child(2)::before
        content: '';
        position: absolute;
        width: 256px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.125);
        transition: 0.4s;
    }

    &:hover::after {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
    }
}




/* BASE STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

    a {
        color: black;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .btn, button {
        background-color: $dark-blue;
        padding: 8px 15px;
        border-radius: 10px;
        font-family: 'Josefin Sans', sans-serif;
        border: none;
        background: linear-gradient(to right, $yellow 50%, $dark-blue 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all 0.5s ease;
        color: black;
        outline: none;

        &:hover, &:hover a {
            background-position: right bottom;
            color: white;
        }
    }

    p {
        b {
            color: $lavendar;
        }
    }
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.main {
    @include responsive-edition();
    margin: 150px auto 100px;

    p {
        font-family: 'Josefin Sans', sans-serif !important;
    }
}

// header highlight for whatever page the user is on
.home #home-nav, 
.about-us #about-nav, 
.newsl #newsletter-nav {
    border-bottom: 2px solid $yellow;
}




/* EDITIONS */

// directory
#directory {
    position: fixed;
    width: max-content;
    top: 180px;
    left: 6%;
    list-style-position: inside;
    animation: 1.5s ease-out 0s 1 fadeIn;
    z-index: 5;

    h3 {
        font-weight: bold;
        letter-spacing: 5px;
    }

    li {
        padding: 10px 0;
        transition: 0.2s;
        font-size: 1.1em;

        &:not(:nth-child(2)) {
            border-top: 1px solid rgba(0,0,0,0.1); //dividers
        }

        a {
            margin-left: 7px;
        }

        &:hover a {
            color: $yellow;
            margin-left: 15px;
        }
    }

    .after {
        position: fixed;
        display: none;
        width: 15px;
        height: 15px;
        border: 1px solid $yellow;
        border-radius: 50%;
        background-color: white;
        margin-top: 5px;
        transition: 0.3s;
        z-index: 10;

        &:hover {
            background-color: $yellow;
        }
    }
}

#editionBack {
    position: fixed;
    width: max-content;
    top: 110px;
    left: 6%;
    animation: 1.5s ease-out 0s 1 fadeIn;
}

#edition {
    @include center;
    @include responsive-edition;
    min-height: 100vh;
    font-size: 1.1em;
    margin-top: 125px;
    margin-bottom: 110px;

    a {
        color: $lavendar;
        text-decoration: underline;
        width: max-content;

        &:hover {
            color: $yellow;
        }
    }

    .yt-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: 1em 0em;
    }

    .disabled {
        text-decoration: none;
        pointer-events: none;
    }

    h4 {
        margin: 1.25rem 30px;
    }

    p {
        padding: 0.75rem 30px;
        text-align: left;
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    .section-header-img, .edition-header-img {
        @include responsive-edition;
        margin-top: 3rem;
        padding: 0;

        &:first-child {
            margin-top: 0;
        }

        &:target { //allows header space when jumped to with id anchor link
            padding-top: 70px;
            margin-top: calc(3rem + -70px);
        }
    }

    button {
        margin-bottom: 30px;
    }
}




/* REUSABLE */

.center {
    @include center;
}

.grey-bg {
    background-color: $light-grey;
}

span.title {
    font-weight: bold;

    &::before, &::after {
        content: ' - ';
    }
}



/* HEADER */

.stemchats {
    color: black;
    font-size: 14px;

    .stemchats-link {
        color: #ff5959;
        border-bottom: 1px dashed #ccc;
        transition: 0.2s;

        &:hover {
            color: #ff5959;
            border-bottom: 1px dashed #ff5959;
        }
    }
}


$button-size : 1.6rem;
$transition: .3s; // increase this to see the transformations in slow-motion

.lines-button {
    display: block;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    margin-left: 0;
    //padding-bottom: $button-size/2;

    .lines {
        &:before { top: $button-size/3; }
        &:after { top: -$button-size/3; }
    }
}

@mixin line {
    display: inline-block;
    width: $button-size;
    height: 2px;
    background: #A2A2A2;
    border-radius: $button-size/14;
    transition: $transition;
}

.lines {
    //create middle line
    @include line;
    position: relative;
    top: -7px;
    right: -15px;
    
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
        @include line;
        position: absolute;
        left:0;
        content: '';
        transform-origin: $button-size/14 center;
    }
    &:before {
        top: $button-size/4;
    }
    &:after {
        top: -$button-size/4;
    }
}

.lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
    }

    // rotate the lines to form the x shape
    &:before{
        transform: rotate3d(0,0,1,45deg);
    }
    &:after{
        transform: rotate3d(0,0,1,-45deg);
    }
}

header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 1000;
    transition: top 0.3s;
    //overflow: hidden;

    #menu-icon, #menu-icon ~ label, input[type=checkbox] {
        display: none;
        z-index: 5;
    } /* */

    .block {
        display: flex;

        .stemchats {
            margin-left: 35px;
            margin-top: 23px;
            margin-bottom: 0;
            transition: opacity 0.3s;
        }
    }

    .logo {
        width: max-content;
        margin-left: 60px;
        position: relative;
        padding: 10px 10px 5px;
        border-radius: 5px;
        transition: 0.4s;

        .logotxt-stem {
            color: $yellow;
            transition: 0.4s;
        }

        .logotxt-lights {
            color: $dark-blue;
            transition: 0.4s;
        }

        h1 {
            margin-bottom: 0;
            font-size: 32px;
            font-weight: bold;
        }

        .logo-text::before, .logo-text::after {
            content: "help";
            //font-family: "Font Awesome 5 Free"; font-weight: 400;
            //font-size: 22px;
            //color: $yellow;
            position: absolute;
            background-image: url('/images/STEMlights_LogoTransparent.png');
            background-size: 25px;
            background-repeat: no-repeat;
            opacity: 0;
            color: transparent;
            transition: 0.4s;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none; //doesnt register hover/click --> easter egg
        }
        .logo-text::before {
            left: -30px;
        }
        .logo-text::after {
            right: -35px;
        }

        &:hover {
            background: $dark-blue;
            text-decoration: none;

            .logotxt-lights {
                color: white;
            }

            .logo-text::before, .logo-text::after {
                opacity: 1;
            }
        }
    }

    .logo-link {
      width: max-content;
      margin-left: 60px;
      position: relative;
      top: -4px;
      padding-left: 15px;
    }

    a {
        text-decoration: none;
        color: black;
        transition: 0.2s;
    }

    .collapsible-menu {
        position: fixed;
        display: flex;
        width: 100%;
        top: 30px;
        transition: 0.3s;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);

            .nav-link {
                margin: 0 30px;
                padding: 0;
                font-size: 18px;
                border-bottom: 2px solid rgba($color: $yellow, $alpha: 0.0);
                transition: 0.3s;
                line-height: initial;
                white-space: nowrap;

                &:hover {
                    border-bottom: 2px solid $yellow;
                }
            }
        }
    }
}

.search-bar {
    position: absolute;
    transform: translate(50%, -6.75rem);
    right: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid $dark-blue;
    border-radius: 20px;
    background: white;
    padding: 5px;
    transition: width 0.5s;
    overflow: hidden;

    .search-icon {
        color: $dark-blue;
        position: absolute;
        top: -1px;
        right: 1px;
        cursor: pointer;
        float: right;
        color: $dark-blue;
        transition: color 0.2s;
        padding: 10px;

        &:hover {
            color: $yellow;
        }
    }

    .search-input {
        width: 250px;
        height: 30px;
        margin: 0 0 0 10px;
        border: none;
        outline: none;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .search-submit {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 5px;
        right: 5px;
        border: none;
        outline: none;
        background: transparent;
    }

    .search-input::-webkit-search-cancel-button{
        display: none;
    }

    &.active {
        width: 280px;

        .search-input {
            opacity: 1;
            pointer-events: initial;
        }

        .search-icon {
            color: $yellow;
        }
    }
}



/* Home page */

body {
    overflow-x: hidden;
}

#STEMlights {
    min-height: 100vh;
    padding: .75rem 1.25rem;
    width: 100%;
    background-color: $dark-blue;
    border: none;
    display: flex;
    align-items: center;
}

#recent {
    margin-top: 20px;

    .header-title{
        text-align: center;
        font-weight: 800;
        font-size: 30px;
        color: $dark-blue;
        margin: 50px 0 30px;
    }
}

.card-title1{
    text-align: left;
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 40px;
    padding: 0em 0em 0.3em 0em;
    margin: 0em 1em 0em 0.9em;
    color: white;
    width: 40%;
}

.card-text1{
    text-align: left;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    padding: 0em 0em 0.5em 0em;
    margin: 0em 1em 0em 2em;
    color: white;
    width: 100%;
}

.btn1{
    background-color: $yellow;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0.5em 1em 0em 2em;
}

.btn1:hover {
    //box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: $yellow;
}

.card-text {
    color: white;
    font-weight: 5px;
}

.card-deck{
    margin: 0 1.5rem;

    .card {
        @include hover-line();
        background-color:  transparent;
        border: none;
        border-radius: 0;

        img {
            padding: 2rem;
            height: 300px;
            object-fit: contain;
        }

        &:not(:first-of-type)::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 200px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.125);
            transition: 0.4s;
        }
    }
    .card-title {
        font-weight: bold;
    }
    .card-text {
        color: black;
    }
    .card-body {
        padding: 1.5rem 1.5rem 2rem;
    }
}

.btn-light{
    background-color: $dark-blue;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 30px auto 0;
}

.text-center{
    width: 100%;
    background-color: $dark-blue;
    border: none;
    border-radius: 0;
}

.card-body2{
    background-color: $lavendar;
    padding: 3em 0 7em;
}

.card-deck1{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card-title {
        color: black;
    }
    .card1{
        background-color: $light-grey;
        color: black;
        padding: 25px 10px 25px 10px;
        border-radius: 12px;
        float: left;
        margin: 30px 25px 25px 25px;;
    }
}

/* NEWSLETTER MENU */

.newsletter {
    padding: 0 2rem;

    .banner {
        width: 100vw;
        height: 275px;
        margin-left: -50%;
        margin-top: -10%;
        margin-bottom: 5.5rem;
        background-image: url("/images/edition-constants/stem-spotlight.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%; //centered image
        visibility: visible;
    }

    .card {
        @include hover-line();
        width: 100%;
        background-color: white;
        position: relative;
        margin-top: 2rem;
        border-radius: 0;
        border: none;

        .card-body {
            p {
                color: black;
                height: max-content;
            }
        }

        img {
            top: 0;
            float: right;
            max-width: 25%;
            max-height: 150px;
            margin: 0 0 2rem 1.25rem;
        }
    }
}




/* ABOUT US */

.about-us {
    .main {
        margin-bottom: 0;
    }
}

.subtitle {
    font-size: 1.1em;
    padding: 1rem 1.5rem 3rem;
}

.meet-the-team {
    img {
        max-height: 300px;
        max-width: 100%;
    }

    .img-hover {
        position: relative;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 50px auto 20px;
        overflow: hidden;
        animation: 0.7s ease-out 0s 1 slideUp;
        transition: 0.35s;

        &:hover {
            transform: translateY(-10%);

            & ~ .teamcard-desc {
                transform: scale(1.2) translateY(-10%);
            }
        }
    }

    img:hover ~ .socials-popup, .socials-popup:hover {
        transform: translateY(-71%);
    }

    .socials-popup {
        position: absolute;
        width: 100%;
        height: 120px;
        background-color: white;
        transition: 0.35s;
        text-align: center;
        padding-top: 15px;

        h1 {
            font-size: 50px;
        }

        i {
            transition: 0.2s;
            opacity: 0.75;

            &:hover {
                color: $yellow;
                opacity: 1;
            }
        }
    }

    .teamcard-desc {
        text-align: center;
        animation: 1.2s ease-out 0s 1 fadeIn;
        transition: 0.35s;

        .teamcard-name {
            margin-bottom: 5px;
        }

        .teamcard-position {
            color: grey;
            margin-bottom: 0;
        }
    }
}



/* FOOTER */

footer {
    /* border-top: 20px solid white;   /* REMOVE WHEN FOOTER + PODCAST =/= SAME COLOR */
    padding-bottom: 4rem;
    margin-top: 25rem;
    background-color: $dark-blue;
    overflow-x: hidden;

    .wave {
        width: 100%;
        position: absolute;
        transform: translateY(-60%) scaleY(0.9);
        left: 0;

        &:nth-child(2) {
            display: none;
        }
    }

    .row {
        margin: 0; //nullifies bootstrap margin-right: -15px; margin-left: -15px;
    }

    .shift-y {
      margin-bottom: -30px;
    }

    .socialmedia-links {
        padding-top: 40px;
    }

    .social-icons {
        margin: 20px auto 40px;
        font-size: 24px;
        width: max-content;

        &:hover i {
            opacity: 0.5;
        }

        i {
            margin: 0 10px;
            color: white;
            transition: 0.2s;

            &:hover {
                transform: translateY(-20%);
                opacity: 1;
            }
        }
    }

    .copy {
        font-size: 0.5px;
        padding-bottom: 0px;
        z-index: 1;
    }
}




/* ANIMATIONS (GENERALLY FOR ONLOAD) */

@keyframes slideUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social {
    .fbtn {
        width: 50px;
        display: inline-block;
        color: #fff;
        text-align: center;
        line-height: 18px;
    }

    .fa {
        padding: 15px 0px;
        //position: fixed;
    }
}
.facebook {
    background-color: #3b5998;
}
.gplus {
    background-color: #dd4b39;
}
.twitter {
    background-color: #55acee;
}
.stumbleupon {
    background-color: #eb4924;
}
.pinterest {
    background-color: #cc2127;
}
.linkedin {
    background-color: #0077b5;
}
.buffer {
    background-color: #323b43;
}
.share-button.sharer {
    // height: 20px;
    //padding: 1px;
    // top: 500px;
    // left: 2%;
    // position: fixed;
    display: block;
    margin-top: 10px;

    .social {
        margin-left: -0px;
        opacity: 0;
        transition: all 0.4s ease 0s;
        visibility: hidden;

        &.active {
            opacity: 1;
            transition: all 0.4s ease 0s;
            visibility: visible;
    
            &.top {
                transform: scale(1) translateY(-10px);
            }
        }

        &.top {
            margin-top: 20px;
            transform-origin: 0 0 0;
        }

        .fbtn {
            z-index: 10;

            &:hover {
                z-index: 100000 !important;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.pagination{
    padding: 30px 10px 0px 10px;
    .page-link{
        color: $dark-blue;
    }
    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: $dark-blue;
        border-color: $dark-blue;
    }
    .spacer{
        pointer-events: none;
    }

}
